@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Poppins:wght@200;400&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 background-color: rgb(184, 184, 212);
font-family: 'Poppins', sans-serif; 
}